<header class="bar-header">
    <a id="menu" role="button">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
    <h1 class="logo">
        <!--<a href="{{ site.baseurl }}/">
            {{ site.name }} <span class="version">v1.0.0</span>
        </a>-->
        <img style="height: 3rem; padding: 0px !important; margin: 0px !important;" href="https://raw.githubusercontent.com/ujwalpro/ujwalpro.github.io/master/assets/img/logo/Ulogx.png">
    </h1>
    <a id="search" class="dosearch" role="button">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>
    <a href="https://ujwalkr.com" class="get-theme" role="button">
        Author!
    </a>
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
